/* styles.css */
body {
    --colorfacbook:rgb(19, 8, 168);
    --colorInsta:#f09433;
    --colorwhatsapp:rgb(8, 168, 69);
    --coloryoutube:rgb(168, 13, 8);
    --colortwitter: #1DA1F2;
    --colorsnapchat: #c4f21d;
    --coloortiktok: #12130f;
    --coloortelegram: #1DA1F2;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
a{
text-decoration: none;
}

.icon-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
} 
.icon-container .facebook,
.icon-container .whatsapp,
.icon-container .instagram,
.icon-container .youtube,
.icon-container .twitter,
.icon-container .snapchat,
.icon-container .tiktok,
.icon-container .telegram  {
  position: relative;
  height: 18px;

}
.icon-container .facebook .ss,
.icon-container .instagram .fa-instagram,
.icon-container .youtube .fa-youtube,
.icon-container .twitter .fa-twitter,
.icon-container .whatsapp .fa-whatsapp,
.icon-container .snapchat .fa-snapchat,
.icon-container .tiktok .fa-tiktok,
.icon-container .telegram .fa-telegram   {
    position: relative;
    right: 308px;
    bottom: 19px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;


}

.icon-container .facebook .ss::after,
.icon-container .instagram .fa-instagram::after,
.icon-container .youtube .fa-youtube::after,
.icon-container .twitter .fa-twitter::after,
.icon-container .whatsapp .fa-whatsapp::after,
.icon-container .snapchat .fa-snapchat::after,
.icon-container .tiktok .fa-tiktok::after,
.icon-container .telegram .fa-telegram::after{
    content: "";
     position: absolute;
     right: -9px;
     bottom: -9px;
     width: 50px;
     height: 50px;  
     border-radius: 50%;
}
.icon-container .facebook::before,
.icon-container .instagram::before,
.icon-container .youtube::before,
.icon-container .twitter::before,
.icon-container .whatsapp::before,
.icon-container .snapchat::before,
.icon-container .tiktok::before,
.icon-container .telegram::before{
    position: absolute;
    content: "";
     right: 100%; 
     border-bottom: 18px solid white;
     border-left: 20px solid white;
   
}
.icon-container .facebook::after,
.icon-container .instagram::after,
.icon-container .youtube::after,
.icon-container .twitter::after,
.icon-container .whatsapp::after,
.icon-container .snapchat::after,
.icon-container .tiktok::after,
.icon-container .telegram::after{
    content: "";
    position: absolute;
     right: 100%; 
    top: 0;
    width: 100px;
    height: 5px; 
}
/* fasebook */
.icon-container .facebook {
    background-color:var(--colorfacbook);

}


.icon-container .facebook i {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
    background-color: var(--colorfacbook);
}

  
.icon-container .facebook .ss::after{


     border: 4px solid var(--colorfacbook) ;
}

.icon-container .facebook::before{

    background-color:var(--colorfacbook);
    border-top: 20px solid var(--colorfacbook);
    border-right: 20px solid var(--colorfacbook);
}
.icon-container .facebook::after{

    background-color: var(--colorfacbook);
   
}



/* instagram */
.icon-container .instagram {
    background-color:var(--colorfacbook);
  position: relative;
  height: 18px;

}


.icon-container .instagram .fa-instagram {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
     background: linear-gradient(45deg, #f09433 0%, #f09433 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    }

  
.icon-container .instagram .fa-instagram::after{
  


     border: 4px solid #f09433 ;
     border-right-color: #cc2366 ;
     border-top-color: #bc1888;
     border-bottom-color: #f09433;

     
 
}

.icon-container .instagram::before{

    background-color:var(--colorInsta);
  
    border-top: 19px solid var(--colorInsta);
    border-right: 19px solid var(--colorInsta);
}
.icon-container .instagram::after{

    
    background-color: var(--colorInsta);
   
}
/* whatsapp */
.icon-container .whatsapp {
    background-color:var(--colorwhatsapp);
  

}


.icon-container .whatsapp .fa-whatsapp {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
background-color: var(--colorwhatsapp);
    }

  
.icon-container .whatsapp .fa-whatsapp::after{
    content: "";
     position: absolute;
     right: -9px;
     bottom: -9px;
     width: 50px;
     height: 50px;  
     border-radius: 50%;


     border: 4px solid var(--colorwhatsapp) ;
   

     
 
}

.icon-container .whatsapp::before{

    background-color:var(--colorInsta);
   
    border-top: 19px solid var(--colorwhatsapp);
  
    border-right: 19px solid var(--colorwhatsapp);
}
.icon-container .whatsapp::after{

    background-color: var(--colorwhatsapp);

}
/* yotupe */
.icon-container .youtube {
    background-color:var(--coloryoutube);
 

}


.icon-container .youtube .fa-youtube {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
background-color: var(--coloryoutube);
    }

  
.icon-container .youtube .fa-youtube::after{
     border: 4px solid var(--coloryoutube) ;
   

     
 
}

.icon-container .youtube::before{

    background-color:var(--coloryoutube);

    border-top: 19px solid var(--coloryoutube);
   
    border-right: 19px solid var(--coloryoutube);
}
.icon-container .youtube::after{

    background-color: var(--coloryoutube);
   
}
/* twitter */
.icon-container .twitter {
    background-color:var(--colortwitter);
 

}


.icon-container .twitter .fa-twitter {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
background-color: var(--colortwitter);
    }

  
.icon-container .twitter .fa-twitter::after{

     border: 4px solid var(--colortwitter) ;
   

     
 
}

.icon-container .twitter::before{

    background-color:var(--colortwitter);
 
    border-top: 19px solid var(--colortwitter);
   
    border-right: 19px solid var(--colortwitter);
}
.icon-container .twitter::after{

    background-color: var(--colortwitter);
 
}






/* snapchat */
.icon-container .snapchat {
    background-color:var(--colorsnapchat);
 

}

.icon-container .snapchat .fa-snapchat {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
background-color: var(--colorsnapchat);
    }

  
.icon-container .snapchat .fa-snapchat::after{

     border: 4px solid var(--colorsnapchat) ;
   

     
 
}

.icon-container .snapchat::before{

    background-color:var(--colorsnapchat);
   
    border-top: 19px solid var(--colorsnapchat);
   
    border-right: 19px solid var(--colorsnapchat);
}
.icon-container .snapchat::after{

    background-color: var(--colorsnapchat);
   
}



/* tiktok */
.icon-container .tiktok {
    background-color:var(--coloortiktok);
}
.icon-container .tiktok .fa-tiktok {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
background-color: var(--coloortiktok);
    }

  
.icon-container .tiktok .fa-tiktok::after{
     border: 4px solid var(--coloortiktok) ;
   

     
 
}

.icon-container .tiktok::before{

    background-color:var(--coloortiktok);
    
    border-top: 19px solid var(--coloortiktok);
   
    border-right: 19px solid var(--coloortiktok);
}
.icon-container .tiktok::after{

    background-color: var(--coloortiktok);
   
}





/* telegram */
.icon-container .telegram {
    background-color:var(--coloortelegram);

}

.icon-container .telegram .fa-telegram {
 
    color: rgb(245, 252, 246) ;
    margin-right: 10px;
background-color: var(--coloortelegram);
    }

  
.icon-container .telegram .fa-telegram::after{

     border: 4px solid var(--coloortelegram) ;
 
}

.icon-container .telegram::before{

    background-color:var(--coloortelegram);
 
    border-top: 19px solid var(--coloortelegram);

    border-right: 19px solid var(--coloortelegram);
}
.icon-container .telegram::after{

 
    background-color: var(--coloortelegram);
}



@media (max-width: 600px) {
    .icon-container {
      width: 250px;
    }
    .icon-container .facebook,
.icon-container .whatsapp,
.icon-container .instagram,
.icon-container .youtube,
.icon-container .twitter,
.icon-container .snapchat,
.icon-container .tiktok,
.icon-container .telegram  {
  position: relative;
  height: 10px;

}
.icon-container .facebook .ss,
.icon-container .instagram .fa-instagram,
.icon-container .youtube .fa-youtube,
.icon-container .twitter .fa-twitter,
.icon-container .whatsapp .fa-whatsapp,
.icon-container .snapchat .fa-snapchat,
.icon-container .tiktok .fa-tiktok,
.icon-container .telegram .fa-telegram   {
    position: relative;
    right: 275px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: space-evenly;

}

.icon-container .facebook .ss::after,
.icon-container .instagram .fa-instagram::after,
.icon-container .youtube .fa-youtube::after,
.icon-container .twitter .fa-twitter::after,
.icon-container .whatsapp .fa-whatsapp::after,
.icon-container .snapchat .fa-snapchat::after,
.icon-container .tiktok .fa-tiktok::after,
.icon-container .telegram .fa-telegram::after{
    content: "";
     position: absolute;
     right: -6px;
     bottom: -6px;
     width: 25px;
     height: 25px;  
     border-radius: 50%;
}
.icon-container .facebook::before,
.icon-container .instagram::before,
.icon-container .youtube::before,
.icon-container .twitter::before,
.icon-container .whatsapp::before,
.icon-container .snapchat::before,
.icon-container .tiktok::before,
.icon-container .telegram::before{
    position: absolute;
    content: "";
     right: 100%; 
     border-bottom: 10px solid white;
     border-left: 30px solid white;
     
   
}
.icon-container .facebook::after,
.icon-container .instagram::after,
.icon-container .youtube::after,
.icon-container .twitter::after,
.icon-container .whatsapp::after,
.icon-container .snapchat::after,
.icon-container .tiktok::after,
.icon-container .telegram::after{
    content: "";
    position: absolute;

     right: 100%; 
    top: 0;
    width: 55px;
    height: 4px; 
}
  }


.icon {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size:24px;
    background-color: rgb(231, 228, 228);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}





.icon span {
    font-size: 18px;
    font-weight: bold;

}

.icon:hover {
    transform: translateY(-5px);
}


.instagram {
    color: #e4405f;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
}

.facebook,
.whatsapp ,
.youtube,
.twitter,
.tiktok,
.snapchat,
.telegram{
    color: #d6dce9;
}

